@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDo Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <h2>Firtst List</h2>
    <h3>Second Task</h3>
</body>
</html>
